*.env
crawler/hi.txt
crawler/crawl_info.txt
crawler/error.txt
crawler/*.txt
crawler/errors/
analysis/*.ipynb
analysis/*.json
analysis/.ipynb_checkpoints/
analysis/BusVisualization/
analysis/slack_token.txt